<plugdo-card-vacante>
    <data>

    </data>

    <template>

    </template>
        <template-card>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-card-entrepressx">
                    <div class="meta-entrepressx">
                        <div class="photo-entrepressx"
                            style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)">
                        </div>
                        <ul class="details-entrepressx">
                            <li class="date-entrepressx"><%=response[0][i].fecha%></li>
                            <li class="area-entrepressx"><%=response[0][i].nombre_area%></li>
                            <li class="place-entrepressx"><%=response[0][i].ubicacion%></li>
                        </ul>
                    </div>
                    <div class="description-entrepressx">
                        <h1><%=response[0][i].nombre_vacante%> <img src="img/medalla-de-honor.svg" style="max-width: 40px;"></h1>
                        <h2><%=response[0][i].email%></h2>
                        <!-- <p class="text-center"><img src="img/medalla-de-honor.svg" style="max-width: 40px;"></p> -->
                        <p><%=response[0][i].descripcion_vacante%></p>
                        <p class="price-entrepressx text-left">
                            <a style="font-size: 2rem;"><%=response[0][i].salario%></a>
                        </p>
                    </div>
                </div>
            </div>
        </template-card>
</plugdo-card-vacante>