<div class="page-holder w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
        <nav class="mt-4" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Empresa</li>
                <li class="breadcrumb-item active" aria-current="page">Vacante</li>
            </ol>
        </nav>
        <section class="py-3">
            <div class="row">
                <div class="col-lg-12"><a href="#" data-toggle="modal" data-target="#exampleModal"
                        class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                        <div class="row">
                            <div
                                class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                <strong class="h5 mb-0">24<sup
                                        class="smaller text-gray font-weight-normal">Apr</sup></strong><img
                                    src="/img/avatar-1.jpg" alt="..." style="max-width: 3rem"
                                    class="rounded-circle mx-3 my-2 my-lg-0">
                                <h6 class="mb-0">Nombre Vacante</h6>
                            </div>
                            <div
                                class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">
                                    Estado</div>
                                <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </a></div>
                <div class="col-lg-12"><a href="#" data-toggle="modal" data-target="#exampleModal"
                        class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                        <div class="row">
                            <div
                                class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                <strong class="h5 mb-0">24<sup
                                        class="smaller text-gray font-weight-normal">Nov</sup></strong><img
                                    src="/img/avatar-2.jpg" alt="..." style="max-width: 3rem"
                                    class="rounded-circle mx-3 my-2 my-lg-0">
                                <h6 class="mb-0">Nombre Vacante</h6>
                            </div>
                            <div
                                class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">
                                    Estado</div>
                                <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit..</p>
                            </div>
                        </div>
                    </a></div>
                <div class="col-lg-12"><a href="#" data-toggle="modal" data-target="#exampleModal"
                        class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                        <div class="row">
                            <div
                                class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                <strong class="h5 mb-0">17<sup
                                        class="smaller text-gray font-weight-normal">Aug</sup></strong><img
                                    src="/img/avatar-3.jpg" alt="..." style="max-width: 3rem"
                                    class="rounded-circle mx-3 my-2 my-lg-0">
                                <h6 class="mb-0">Nombre Vacante</h6>
                            </div>
                            <div
                                class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">
                                    Estado</div>
                                <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit..</p>
                            </div>
                        </div>
                    </a></div>
                <div class="col-lg-12"><a href="#" data-toggle="modal" data-target="#exampleModal"
                        class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                        <div class="row">
                            <div
                                class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                <strong class="h5 mb-0">15<sup
                                        class="smaller text-gray font-weight-normal">Sep</sup></strong><img
                                    src="/img/avatar-4.jpg" alt="..." style="max-width: 3rem"
                                    class="rounded-circle mx-3 my-2 my-lg-0">
                                <h6 class="mb-0">Nombre Vacante</h6>
                            </div>
                            <div
                                class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">
                                    Estado</div>
                                <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit..</p>
                            </div>
                        </div>
                    </a></div>
            </div>
        </section>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content card">
                <div class="modal-header card-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formulario de Promoción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body card-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Inicio de promoción</label>
                            <div class="col-md-9">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Dias de promoción</label>
                            <div class="col-md-9">
                                <input type="number" min="0" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Promocionar</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-center text-md-left text-primary">
                    <p class="mb-2 mb-md-0">Tapp</p>
                </div>
                <div class="col-md-6 text-center text-md-right text-gray-400">
                    <p class="mb-0">Proyecto de Desarollo IX</p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>