<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tapp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Google fonts - Popppins for copy-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- orion icons-->
    <link rel="stylesheet" href="/css/orionicons.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/estilo.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/favicon.png?3">

    <link rel="stylesheet" href="/css/home/hero.css">
    <link rel="stylesheet" href="/css/home/card.css">
    <link rel="stylesheet" href="/css/home/card-empresa.css">
    <link rel="stylesheet" href="/css/home/divider.css">
    <!-- SCRIPTS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/front.js"></script>
    <script src="/js/plugdoeui.js"></script>
    <script src="\js\empresaPages\index.js"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
    <script src="https://js.braintreegateway.com/web/3.39.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.39.0/js/paypal-checkout.min.js"></script>
</head>

<body>
    <!-- navbar-->
    <%- include('../partials/header') %>
    <div class="d-flex align-items-stretch">
        <%- include('../partials/sideMenu') %>
        <div id="container" class="container-fluid"></div>
    </div>
    <script
        src="https://cdn.jsdelivr.net/gh/NetoCh/libraries@v1.1.3/SelectService-Example/select-services.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/js/homePages/profesionales.js"></script>
    <script src="/js/homePages/vacantes.js"></script>
    <script src="/js/homePages/empresa.js"></script>
    <script src="/js/RegistrarVacante.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"> </script>
    <script src="/js/empresaPages/mis-vacantes.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/homePages/home.js"></script>
</body>

</html>