      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <nav class="mt-4" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Registrarse</li>
                <li class="breadcrumb-item active" aria-current="page">Empresas</li>
            </ol>
        </nav>
          <section class="py-5">
            <div class="row">
              <!-- Form Elements -->
              <div class="col-lg-12 mb-5">
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Formulario de registro de empresa</h3>
                  </div>
                  <div class="card-body">
                     
                    <form class="form-horizontal">
                         <!-- Campo Nombre -->
                      <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">Nombre de la Empresa</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" id="nombre" name="nombre">
                        </div>
                      </div>
                      <div class="line"></div>
                      
                       <!-- Campo Ubicacion -->
                       <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">Ubicación</label>
                        <div class="col-md-9">
                          <textarea class="form-control scroll" id="ubicacion" rows="3" name="ubicacion"></textarea>
                        </div>
                      </div>
                      <div class="line"></div>
                         <!--Campo Descripcion-->
                      <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">Descripcion Empresa</label>
                        <div class="col-md-9">
                          <textarea class="form-control scroll" id="descripcion" rows="3" name="descripcion"></textarea>
                        </div>
                      </div>
                      <div class="line"></div>
                   
                       <!-- Campo telefono -->
                       <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">Teléfono de la empresa</label>
                        <div class="col-md-9">
                          <input type="phone" class="form-control" id="telefono" name="telefono">
                        </div>
                      </div>
                      <div class="line"></div>

                        <!-- Campo Email -->
                        <div class="form-group row">
                           
                            <label class="col-md-3 form-control-label">Correo Electronico Empresa</label>
                            <div class="col-md-9">
                              <input type="email" class="form-control" id="email" name="email">
                            </div>
                          </div>
                          <div class="line"></div>
                             
                     <!--Campo sitio web-->
                     <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">Sitio Web</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" id="sitioW" name="sitiowEmp">
                        </div>
                      </div>
                      <div class="line"></div>

                      <!--Campo password-->

                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Contrasena </label>
                        <div class="col-md-9">
                          <input type="password" name="pass" class="form-control" id="pass">
                        </div>
                      </div>
                      <div class="line"></div>

                      <!---->
                      <div class="form-group row">
                        <div class="col-md-9 ml-auto">
                          <button type="reset" class="btn btn-secondary">Limpiar</button>
                          <button type="submit" class="btn btn-primary">Enviar Datos</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 text-center text-md-left text-primary">
                <p class="mb-2 mb-md-0">Tapp</p>
              </div>
              <div class="col-md-6 text-center text-md-right text-gray-400">
                <p class="mb-0">Proyecto de Desarrollo IX</p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              </div>
            </div>
          </div>
        </footer>
      </div>
   