<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tapp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Google fonts - Popppins for copy-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
    <!-- orion icons-->
    <link rel="stylesheet" href="/css/orionicons.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/estilo.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/favicon.png?3">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow"><a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead"><i class="fas fa-align-left"></i></a><a href="index.html" class="navbar-brand font-weight-bold text-uppercase text-base">Tapp</a>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
          
        
          <li class="nav-item dropdown ml-auto"><a id="userInfo" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src="img/avatar-6.jpg" alt="Jason Doe" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow"></a>
            <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">Mark Stephen</strong><small>Web Developer</small></a>
              <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Settings</a><a href="#" class="dropdown-item">Activity log       </a>
              <div class="dropdown-divider"></div><a href="login.html" class="dropdown-item">Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <div id="sidebar" class="sidebar py-3">
        <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
        <ul class="sidebar-menu list-unstyled">
              <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-home-1 mr-3 text-gray"></i><span>Home</span></a></li>
              <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>Charts</span></a></li>
              <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span>Tables</span></a></li>
              <li class="sidebar-list-item"><a href="Registro.html" class="sidebar-link text-muted active"><i class="o-survey-1 mr-3 text-gray"></i><span>Registro</span></a></li>
          <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Pages</span></a>
            <div id="pages" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Page one</a></li>
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Page two</a></li>
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Page three</a></li>
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Page four</a></li>
              </ul>
            </div>
          </li>
              <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray"></i><span>Login</span></a></li>
        </ul>
        
      </div>
      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <nav class="mt-4" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Registro</li>
                <li class="breadcrumb-item active" aria-current="page">Profesional</li>
            </ol>
        </nav>
          <section class="py-5">
            <div class="row">
              <!-- Form Elements -->
              <div class="col-lg-12 mb-5">
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Formulario de registro de profesionales</h3>
                  </div>
                  <div class="card-body">
                     
                    <form class="form-horizontal">
                         <!-- Campo Nombre -->
                      <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">Nombre</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" id="nombreP" name="nombreEmp">
                        </div>
                      </div>
                      <div class="line"></div>
                       <!-- Campo Apellido -->
                      <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">Apellido</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" id="apellidOP" name="apellidopro">
                        </div>
                      </div>
                      <div class="line"></div>
                       <!-- Campo Direccion -->
                       <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">Direccion</label>
                        <div class="col-md-9">
                          <textarea class="form-control scroll" id="direccionP" rows="3" name="direccionpro"></textarea>
                        </div>
                      </div>
                      <div class="line"></div>
                      <!--Campo Edad-->
                      <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">Edad</label>
                        <div class="col-md-9">
                          <input type="number" class="form-control" step="1" start="1"id="edadP" name="edadpro">
                        </div>
                      </div>
                      <div class="line"></div>

                      <!--Campo Sexo-->
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Sexo</label>
                        <div class="col-md-9">
                          <div class="custom-control custom-radio custom-control-inline">
                            <input id="sexoF" type="radio" name="sexopro" class="custom-control-input" checked="true">
                            <label for="customRadioInline1" class="custom-control-label">Femenino</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input id="sexoM" type="radio" name="sexopro" class="custom-control-input">
                            <label for="customRadioInline2" class="custom-control-label">Masculino</label>
                          </div>
                        </div>
                      </div>
                      <div class="line"></div>
                  
                       <!-- Campo telefono -->
                       <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">telefono</label>
                        <div class="col-md-9">
                          <input type="phone" class="form-control" id="telefonoP" name="telefonopro">
                        </div>
                      </div>
                      <div class="line"></div>

                        <!-- Campo Email -->
                        <div class="form-group row">
                           
                            <label class="col-md-3 form-control-label">Correo Electronico</label>
                            <div class="col-md-9">
                              <input type="email" class="form-control" id="emailP" name="mailpro">
                            </div>
                          </div>
                          <div class="line"></div>
                             
                        <!--Campo password-->

                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Password</label>
                        <div class="col-md-9">
                          <input type="password" name="password" class="form-control" id="passP" name="Passpro">
                        </div>
                      </div>
                      <div class="line"></div>
                      <!--Campo Descripcion-->
                      <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">Descripcion Profesional</label>
                        <div class="col-md-9">
                          <textarea class="form-control scroll" id="DescP" rows="3" name="descppro"></textarea>
                        </div>
                      </div>
                      <div class="line"></div>
                      
                     <!--Campo Experiencia-->
                     <div class="form-group row">
                           
                        <label class="col-md-3 form-control-label">Experiencia</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" id="expP" name="experienciapro">
                        </div>
                      </div>
                      <div class="line"></div>

                      <!--Campo Nivel Academico -->
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Nivel Academico</label>
    
                        <div class="col-md-9 ml-auto select">
                          <select multiple="" class="form-control rounded">
                            <option>Primaria</option>
                            <option>Secundaria</option>
                            <option>Universitario</option>
                            <option>Empirico</option>
                          </select>
                        </div>
                      </div>
                      <div class="line"></div>

                      <!---->
                      <div class="form-group row">
                        <div class="col-md-9 ml-auto">
                          <button type="reset" class="btn btn-secondary">Limpiar</button>
                          <button type="submit" class="btn btn-primary">Enviar Datos</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 text-center text-md-left text-primary">
                <p class="mb-2 mb-md-0">Tapp</p>
              </div>
              <div class="col-md-6 text-center text-md-right text-gray-400">
                <p class="mb-0">Proyecto de Desarrollo IX</p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/js/front.js"></script>
  </body>
</html>