
      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row mb-4">
              <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="card">
                  <div class="card-header">
                    <h2 class="h6 text-uppercase mb-0">Cantidad de inicios de sesión por mes</h2>
                  </div>
                  <div class="card-body">
                    <p class="mb-5 text-gray">Cantidad de ususarios que han iniciado sesión cada mes.</p>
                    <div class="chart-holder mt-5 mb-5">
                      <canvas id="lineChartExample">
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card mb-4">
                  <div class="card-header">
                    <h2 class="h6 text-uppercase mb-0">Porcentaje de hombres y mujeres</h2>
                  </div>
                  <div class="card-body">
                    <div class="chart-holder">
                      <canvas id="pieChartExample"></canvas>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header">
                    <h2 class="h6 text-uppercase mb-0">Porcentaje de empresas y profesionales</h2>
                  </div>
                  <div class="card-body">
                    <div class="chart-holder">
                      <canvas id="doughnutChartExample"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-lg-4">
                <div class="card mb-4">
                  <div class="card-header">
                    <h2 class="h6 text-uppercase mb-0">Cantidad de vacantes registradas</h2>
                  </div>
                  <div class="card-body">
                    <div class="chart-holder">
                      <canvas id="barChartExample2"></canvas>
                    </div>
                  </div>
                </div>
                <div class="card mb-4">
                  <div class="card-header">
                    <h2 class="h6 text-uppercase mb-0">Cantidad de profesionales registrados</h2>
                  </div>
                  <div class="card-body">
                    <div class="chart-holder">
                      <canvas id="barChartExample3"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="card">
                  <div class="card-header">
                    <h2 class="h6 mb-0 text-uppercase">Cantidad de visitas por mes</h2>
                  </div>
                  <div class="card-body">
                    <p class="mb-5 text-gray">Número de visitas por mes.</p>
                    <div class="chart-holder mt-5 mb-5">
                      <canvas id="barChartExample1"></canvas>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </section>
        </div>
        <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 text-center text-md-left text-primary">
                <p class="mb-2 mb-md-0">Tapp</p>
              </div>
              <div class="col-md-6 text-center text-md-right text-gray-400">
                <p class="mb-0">Proyecto de Desarrollo IX</p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              </div>
            </div>
          </div>
        </footer>
      </div>
