<style>
    .sidebar {
        display: none;
    }
    #container {
       padding-right: 0px !important;
        padding-left: 0px !important; 
    }
    
</style>
<div class="hero-awesomex" style="background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818)">
    <div class="hero__content-awesomex">
      <h1>TAPP, Del app a tú casa.</h1>
      <a class="btn btn-hero-awesomex" href="<%=page.ruta%>"><%=page.button%></a>
    </div>
  </div>
<!-- -----------------------------------------------DIVIDER------------------------------------------------------------------------ -->
<div class="container-dividerx">
    <section class="section-dividerx col-2-dividerx color-dividerx ss-style-curvedown">
        <div class="column-dividerx text-dividerx">
            <h2 class="font-weight-bold">Profesionales Destacados</h2>
            <p>Profesionales de diversas áreas todos en un soló sitio. Enuentra al que necesitas ¡Ya!</p>
        </div>
    </section>
</div>
<svg id="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
    viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z" />
</svg>
<!-- -----------------------------------------------DIVIDER------------------------------------------------------------------------ -->
<div class="w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
        <div class="description-entrepressx text-right">
            <p class="ver-mas-entrepressx text-right">
                <a href="#profesionales" style="font-size: 2rem;">Más profesionales</a>
            </p>
        </div>
        <div class="row" id="container-profesionales">

        </div>
    </div>
</div>
<!-- -----------------------------------------------DIVIDER------------------------------------------------------------------------ -->
<svg id="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100"
    preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z" />
</svg>

<section class="section-dividerx col-2-dividerx color-dividerx ss-style-curvedown">
    <div class="column-dividerx text-dividerx text-left">
        <h2 class="font-weight-bold">Vacantes Destacadas</h2>
        <p>Ofertas de trabajo de diversas empresas en Panamá ¡todas en un solo lugar! Encuentra la adecuada para ti y preparate para aplicar.</p>
    </div>
</section>
<svg id="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
    viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z" />
</svg>
<!-- -----------------------------------------------DIVIDER------------------------------------------------------------------------ -->
<div class="w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5 ">
        <div class="description-entrepressx">
            <p class="ver-mas-entrepressx text-left">
                <a href="#vacantes" style="font-size: 2rem;">Más vacantes</a>
            </p>
        </div>
        <div class="row my-5" id="container-empresa">
           
        </div>
    </div>
</div>
    <!-------------------------------- modal -------------------------------------------------- -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="verProfesional" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="perfilNombre" class="modal-title" data-dismiss="modal">Información General</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-4">
                      <p><strong class="mr-1">Nombre: </strong>
                    </div>
                    <div class="col-8">
                      <p id="nombre"></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><strong class="mr-1">Edad: </strong>
                    </div>
                    <div class="col-8">
                      <p id="edad"></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><strong class="mr-1">Genero: </strong>
                    </div>
                    <div class="col-8">
                      <p id="sexo"></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><strong class="mr-1">Dirección: </strong>
                    </div>
                    <div class="col-8">
                      <p id="direccion"></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><strong class="mr-1">Email: </strong>
                    </div>
                    <div class="col-8">
                      <p id="email"></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><strong class="mr-1">Teléfono: </strong>
                    </div>
                    <div class="col-8">
                      <p id="telefono"></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><strong class="mr-1">Experiencia: </strong>
                    </div>
                    <div class="col-8">
                      <p id="experiencia"></p>
                    </div>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-center text-md-left text-primary">
                    <p class="mb-2 mb-md-0">Tapp</p>
                </div>
                <div class="col-md-6 text-center text-md-right text-gray-400">
                    <p class="mb-0">Desarrollo de Software IX</p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
<script src="/js/hero.js"></script>