<div class="page-holder w-100 d-flex flex-wrap mt-5">
  <div class="container-fluid px-xl-5">
    <section > 
      <!--Buscador-->
      <div class="col-lg-12 mb-5">
        <div class="card px-2 py-1">
          <div class="card-body px-1 py-2">
            <form id="searchForm" class="ml-auto">
              <div class="row">
                <div class="col-lg-2 text-center">
                  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary ">Filtrar profesionales</button>
                  <!-- Modal 1-->
                  <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 id="exampleModalLabel" class="modal-title">Filtrar profesionales</h4>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <form class="range-field">
                            <div class="form-group">
                                <label class="col-lg-4">Categorias</label>
                                <div class="custom-control-inline ml-2 ">
                                  <select class="form-control" id="exampleFormControlSelect1">
                                      <option>Desarrollador</option>
                                      <option>Analista de datos</option>
                                      <option>Publicistas</option>
                                      <option>Abogado</option>
                                      <option>Pintor</option>
                                  </select>
                                </div>
                            </div>
                            <div class="form-group">       
                              <label class="col-lg-4">Genero</label>
                              <div class="custom-control custom-radio custom-control-inline ml-2">
                                  <input id="customRadioInline1" type="radio" name="customRadioInline1" class="custom-control-input">
                                  <label for="customRadioInline1" class="custom-control-label">M</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline ml-2">
                                  <input id="customRadioInline2" type="radio" name="customRadioInline1" class="custom-control-input">
                                  <label for="customRadioInline2" class="custom-control-label">F</label>
                              </div>
                            </div>
                            <div class="form-group">       
                                <label class="col-lg-4">Destacado</label>
                                <div class="custom-control custom-radio custom-control-inline ml-2">
                                    <input id="destacado_si" type="radio" name="destacado" class="custom-control-input">
                                    <label for="destacado_si" class="custom-control-label">Sí</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline ml-2">
                                    <input id="destacado_no" type="radio" name="destacado" class="custom-control-input">
                                    <label for="destacado_no" class="custom-control-label">No</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline ml-2">
                                    <input id="destacado_cualquiera" type="radio" name="destacado" class="custom-control-input">
                                    <label for="destacado_cualquiera" class="custom-control-label">Todos</label>
                                </div>
                            </div>
                            <div class="form-group"> 
                              <label class="col-lg-4">Edad minima:</label>  
                              <div class="custom-control-inline">
                                <input class="form-control" type="number" min="18" class="ml-2" name="edad_min">
                              </div>                        
                            </div>
                            <div class="form-group"> 
                              <label class="col-lg-4">Edad máxima:</label>      
                              <div class="custom-control-inline">
                                <input class="form-control" type="number" min="19" class="ml-2" name="edad_max">
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                          <button type="button" data-dismiss="modal" class="btn btn-primary">Buscar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group position-relative mb-0 col-lg-7 mt-1 ml-lg-5">                                      
                  <button type="submit" style="top: -3px; left: 0;" class="position-absolute bg-white border-0 p-0 ml-4"><i class="o-search-magnify-1 text-gray text-lg"></i></button>
                  <input type="search" placeholder="Buscar por categoria ..." class="form-control form-control-sm border-0 no-shadow pl-4 ml-2">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--Profesionales-->
      <section class="px-lg-5">
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-4.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">Jason Doe</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Desarrollador</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/medalla-de-honor.svg" style="width: 40%;">
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-1.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">Joe Pritchet</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Diseñador gráfico</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/medalla-de-honor.svg" style="width: 40%;">
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-2.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">Lenon Díaz</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Abogado</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/medalla-de-honor.svg" style="width: 40%;">
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-3.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">María Sucre</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Analista de datos</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-6.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">Phil Donphy</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Pintor</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-5.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">Clair Gomez</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Publicista</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/medalla-de-honor.svg" style="width: 40%;">
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-1.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">Joe Pritchet</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Diseñador gráfico</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-2.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">Lenon Díaz</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Abogado</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-3.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">María Sucre</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Analista de datos</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/medalla-de-honor.svg" style="width: 40%;">
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-6.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">Phil Donphy</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Pintor</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-5.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">Clair Gomez</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Publicista</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/medalla-de-honor.svg" style="width: 40%;">
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-4.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">Jason Doe</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Desarrollador</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" data-toggle="modal" data-target="#myModal2">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/avatar-1.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
              <h6 class="mb-0">Joe Pritchet</h6>
            </div>
            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">Diseñador gráfico</div>
            </div>
            <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="col-lg-1 col-md-2 col-5 mx-auto d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
              <img src="img/medalla-de-honor.svg" style="width: 40%;">
            </div>
          </div>
          </a>
        </div>
      </section>
      <!-- Modal 2 (Detalles de profesionales)-->
      <div id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="exampleModalLabel" class="modal-title">Información general</h4>
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <p><strong>Nombre: </strong>  Jason Doe</p>
              <p><strong>Edad:</strong> 25</p>
              <p><strong>Dirección:</strong> San Fransisco</p>
              <p><strong>Email:</strong> jasond@yahoo.com</p>
              <p><strong>Teléfono:</strong> 6666-6666</p>
              <p><strong>Nivel académico:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi sequi repellat architecto, blanditiis officiis doloribus a voluptates assumenda tenetur explicabo eligendi voluptatibus, earum ducimus dolores, nesciunt excepturi vel quia recusandae.</p> 
              <p><strong>Experiencia:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit consequatur ratione veniam ea, deserunt laboriosam officia illum incidunt ducimus sunt! Quibusdam est laudantium molestias aut iste sequi veniam quae odio!</p>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 text-center text-md-left text-primary">
          <p class="mb-2 mb-md-0">Tapp</p>
        </div>
        <div class="col-md-6 text-center text-md-right text-gray-400">
          <p class="mb-0">Proyecto de Desarrollo IX</p>
          <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </div>
      </div>
    </div>
  </footer>
</div> 